<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/c.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.jpg') }}">

    <title>Green Friendly Forum</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
       <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/home.png') }}" alt="Главная страница" width="50" height="50"></a>
        {% if current_user.is_authenticated %}
        <h>{{ current_user.name }}</h>
        <a class="btn btn-success" href="/logout">Выход</a>
        <a class="btn btn-success" href="/profile">Профиль</a>
       {% else %}
        <p>
        <a class="btn btn-success" href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
        </p>
        {% endif %}
    </nav>
</header>
<br/>
<br/>
<br/>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>